/*Style*/
$myFontFamily: Sans-serif;
$myFontSize: 0.6em;
$myFontColor: rgb(10, 4, 4);
$myPrimmaryColor: white;
$mySecondaryColor: green;
$myBorder: 2px solid black;


/*Variables*/
$gap: 3px;

$myTempVar: 1;
$myTempVarCont: 1;

$darken: 0;
$scale: 5;